<div class="section">
      <div class="container">
            <div class="section-title">
                  <h3>Our warcs</h3>
            </div>
            <div class="section-main">
                  <div class="project-area">
                        <div class="project-main">
                              <div class="project-img">
                                    <video [muted]="true" [autoplay]="true" [loop]="true">
                                          <source src="./assets/videos/bsmart02.mp4">
                                    </video>
                                    <div class="project-text">
                                          <h3>bSmart</h3>
                                    </div>
                              </div>
                        </div>
                  </div>

                  <div class="project-area">
                        <div class="project-main">
                              <div class="project-img">
                                    <video [muted]="true" [autoplay]="true" [loop]="true">
                                          <source src="./assets/videos/bsmart02.mp4">
                                    </video>
                                    <div class="project-text">
                                          <h3>Schooling Next</h3>
                                    </div>
                              </div>
                        </div>
                  </div>

                  <div class="project-area">
                        <div class="project-main">
                              <div class="project-img">
                                    <video [muted]="true" [autoplay]="true" [loop]="true">
                                          <source src="./assets/videos/Form.3_02.mp4">
                                    </video>
                                    <div class="project-text">
                                          <h3>Form.3</h3>
                                    </div>
                              </div>
                        </div>
                  </div>

                  <div class="project-area">
                        <div class="project-main">
                              <div class="project-img">
                                    <video [muted]="true" [autoplay]="true" [loop]="true">
                                          <source src="./assets/videos/yellowsomething_02.mp4">
                                    </video>
                                    <div class="project-text">
                                          <h3>Studio Yellow <br> Something</h3>
                                    </div>
                              </div>
                        </div>
                  </div>
                  <div class="project-area">
                        <div class="project-main">
                              <div class="project-img">
                                    <video [muted]="true" [autoplay]="true" [loop]="true">
                                          <source src="./assets/videos/yellowsomething_02.mp4">
                                    </video>
                                    <div class="project-text">
                                          <h3>Studio Yellow <br> Something</h3>
                                    </div>
                              </div>
                        </div>
                  </div>
                  <div class="project-area">
                        <div class="project-main">
                              <div class="project-img">
                                    <video [muted]="true" [autoplay]="true" [loop]="true">
                                          <source src="./assets/videos/yellowsomething_02.mp4">
                                    </video>
                                    <div class="project-text">
                                          <h3>Studio Yellow <br> Something</h3>
                                    </div>
                              </div>
                        </div>
                  </div>
                  <div class="project-area">
                        <div class="project-main">
                              <div class="project-img">
                                    <video [muted]="true" [autoplay]="true" [loop]="true">
                                          <source src="./assets/videos/yellowsomething_02.mp4">
                                    </video>
                                    <div class="project-text">
                                          <h3>Studio Yellow <br> Something</h3>
                                    </div>
                              </div>
                        </div>
                  </div>
                  <div class="project-area">
                        <div class="project-main">
                              <div class="project-img">
                                    <video [muted]="true" [autoplay]="true" [loop]="true">
                                          <source src="./assets/videos/yellowsomething_02.mp4">
                                    </video>
                                    <div class="project-text">
                                          <h3>Studio Yellow <br> Something</h3>
                                    </div>
                              </div>
                        </div>
                  </div>
                  <div class="project-area">
                        <div class="project-main">
                              <div class="project-img">
                                    <video [muted]="true" [autoplay]="true" [loop]="true">
                                          <source src="./assets/videos/yellowsomething_02.mp4">
                                    </video>
                                    <div class="project-text">
                                          <h3>Studio Yellow <br> Something</h3>
                                    </div>
                              </div>
                        </div>
                  </div>
                  <div class="project-area">
                        <div class="project-main">
                              <div class="project-img">
                                    <video [muted]="true" [autoplay]="true" [loop]="true">
                                          <source src="./assets/videos/yellowsomething_02.mp4">
                                    </video>
                                    <div class="project-text">
                                          <h3>Studio Yellow <br> Something</h3>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</div>