<div class="section">
      <div class="container">
            <div class="section-title">
                  <h3>Our warcs</h3>
            </div>
            <div class="section-main">
                  <div class="project-area" routerLink="/our-warc">
                        <div class="project-main">
                              <div class="project-img">
                                    <video [muted]="true" [autoplay]="true" [loop]="true">
                                          <source src="./assets/videos/bsmart02.mp4">
                                    </video>
                                    <div class="project-text">
                                          <h3>bSmart</h3>
                                    </div>
                              </div>
                        </div>
                  </div>

                  <div class="project-area" routerLink="/our-warc">
                        <div class="project-main">
                              <div class="project-img">
                                    <video [muted]="true" [autoplay]="true" [loop]="true">
                                          <source src="../../../../assets/videos/Super Squad_WR.mp4">
                                    </video>
                                    <div class="project-text">
                                          <h3>Super  Squad</h3>
                                    </div>
                              </div>
                        </div>
                  </div>

                  <div class="project-area" routerLink="/our-warc">
                        <div class="project-main">
                              <div class="project-img">
                                    <video [muted]="true" [autoplay]="true" [loop]="true">
                                          <source src="../../../../assets/videos/ECC_02.mp4">
                                    </video>
                                    <div class="project-text">
                                          <h3>ECC</h3>
                                    </div>
                              </div>
                        </div>
                  </div>

                  <div class="project-area" routerLink="/our-warc">
                        <div class="project-main">
                              <div class="project-img">
                                    <video [muted]="true" [autoplay]="true" [loop]="true">
                                          <source src="./assets/videos/yellowsomething_02.mp4">
                                    </video>
                                    <div class="project-text">
                                          <h3>Studio Yellow <br> Something</h3>
                                    </div>
                              </div>
                        </div>
                  </div>
                  <div class="project-area" routerLink="/our-warc">
                        <div class="project-main">
                              <div class="project-img">
                                    <video [muted]="true" [autoplay]="true" [loop]="true">
                                          <source src="../../../../assets/videos/Form.3_02.mp4">
                                    </video>
                                    <div class="project-text">
                                          <h3>Form.3</h3>
                                    </div>
                              </div>
                        </div>
                  </div>
                  <div class="project-area" routerLink="/our-warc">
                        <div class="project-main">
                              <div class="project-img">
                                    <video [muted]="true" [autoplay]="true" [loop]="true">
                                          <source src="../../../../assets/videos/life in ramadan_01.mp4">
                                    </video>
                                    <div class="project-text">
                                          <h3>life in Ramadan</h3>
                                    </div>
                              </div>
                        </div>
                  </div>
                  <div class="project-area" routerLink="/our-warc">
                        <div class="project-main">
                              <div class="project-img">
                                    <video [muted]="true" [autoplay]="true" [loop]="true">
                                          <source src="../../../../assets/videos/Vistanext_01.mp4">
                                    </video>
                                    <div class="project-text">
                                          <h3>Vistanext</h3>
                                    </div>
                              </div>
                        </div>
                  </div>
                  <div class="project-area" routerLink="/our-warc">
                        <div class="project-main">
                              <div class="project-img">
                                    <video [muted]="true" [autoplay]="true" [loop]="true">
                                          <source src="../../../../assets/videos/Pranicool_01.mp4">
                                    </video>
                                    <div class="project-text">
                                          <h3>Pranicool</h3>
                                    </div>
                              </div>
                        </div>
                  </div>
                  <div class="project-area">
                        <div class="project-main">
                              <div class="project-img">
                                    <img src="../../../../assets/images/QR Coupon_02.png" alt="">
                                    <div class="project-text">
                                          <h3>QR Coupon</h3>
                                    </div>
                              </div>
                        </div>
                  </div>
                  <div class="project-area" routerLink="/our-warc">
                        <div class="project-main">
                              <div class="project-img">
                                    <video [muted]="true" [autoplay]="true" [loop]="true">
                                          <source src="./assets/videos/yellowsomething_02.mp4">
                                    </video>
                                    <div class="project-text">

                                          <h3>Sir John Wilson</h3>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</div>