<div class="section">
    <div class="section-title">
        <h3>This is Us</h3>
    </div>
    <div class="section-main">
        <div class="section-main-title">
            <h3>Interested?</h3>
            <h3>Let’s warc.</h3>
        </div>
        <div class="info">
            <div class="section-description">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.</p>
            </div>
            <div class="form-area">
                <div class="form-field">
                    <input type="text" placeholder="Name">
                </div>
                <div class="form-field">
                    <input type="email" placeholder="E-mail*">
                </div>
                <div class="form-check-area">
                    <div class="check">
                        <input type="checkbox" [(ngModel)]="isChecked">
                        <label for="#">I have read and accept the Privacy Policy*</label>
                    </div>
                    <div class="arrow-icon">
                        <span [ngClass]="{'active': isChecked === true}"><i class="fa fa-arrow-right"></i></span>
                    </div>
                </div>
            </div>
            <div class="map-area">
                  <div class="map-area-main">
                    <div class="map">
                        <div class="animation">
                            <span>Where On the Map?</span>
                            <a href="#">See Google Maps</a>
                        </div>
                    </div>
                    <div class="social">
                        <ul>
                            <li><a href="#">Whatsapp <span><i class="fa fa-arrow-right"></i></span></a></li>
                            <li><a href="#">Facebook   <span><i class="fa fa-arrow-right"></i></span></a></li>
                        </ul>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>