<div class="banner-area">
      <div class="container">

          <video id="myVideo" width="640" height="360" autoplay loop>
               <source src="../../../../assets/videos/destop.webm" type="video/mp4">
          
           </video>
       
           <!-- <button id="playButton">Play</button>
           <button id="pauseButton">Pause</button> -->
       
           <div class="banner-main">
                <h3>Bringing <br> the</h3>
                <span>Change.</span>
           </div>
      </div>
</div>