@font-face{
    font-family: neue;
     src: url('./../assets/fonts/PPNeueMontreal-Bold.otf'),format(otf);
     font-weight: bold;
}
@font-face{
    font-family: neue;
     src: url('./../assets/fonts/PPNeueMontreal-Italic.otf'),format(otf);
     font-weight: 500;
}

@font-face{
    font-family: neue;
     src: url('./../assets/fonts/PPNeueMontreal-Medium.otf'),format(otf);
     font-weight: 500;
}
@font-face{
    font-family: neue;
     src: url('./../assets/fonts/PPNeueMontreal-Thin.otf'),format(otf);
     font-weight: 400;
}

/*** font-family ****/
$font-en-primary:'Signika Negative',sans-serif;
$font-en-roboto: 'Roboto',sans-serif;
$font-en-roboto-flex: 'Roboto Flex',sans-serif;
$font-en-amatic: 'Amatic SC',sans-serif;
$font-en-neue:'neue',sans-serif;


/**** containerr ***/
$container-max-width: 100%;


// COLOR
$color-light-gray: #777777;
$color-primary:#0e20ea;
$heading-color: #39404a;
$sub-heading-color: #565765;
$color-danger: #ff3838;
$color-border: #e8e8e8;
$text-color: rgba(0, 0, 0, .7);
$color-secondary: #003d1f;
$color-black:#414141;
$color-orange: #ff7d09;
$color-primary-2: #143161;
$icon-default-color: #FFFFFF;
$color-white:#fff;
$table-bg-color: #FBAE01;
$table-text-color: #6a4a02;
$table-sm-color: #FE7B03;
$box-shadow-primary: 0px 15px 35px 0px rgba(0, 0, 0, 0.1);

// FONT SIZE
$font-title-size: 38px;
$font-title-md-size: 18px;
$font-dis-size: 16px;