@import'src/stylesheets/variables';

.section {
    display: block;
    background-color: $color-primary;
    padding: 120px 120px;
    .section-main {
        width: 100%;
        margin: auto;
        h3 {
            font-family: $font-en-neue;
            font-size: 64px;
            color: #E6E6E6;
            font-style: italic;
            font-weight: 400;
            line-height: 64px;
            max-width: 1000px;
            letter-spacing: -3px;
            margin-bottom: 55px !important;
        }

        p {
            font-family: $font-en-neue;
            font-size: 36px;
            font-weight: 400;
            line-height: 36px;
            letter-spacing: -1.4px;
            color: #E6E6E6;
            margin: 0px;
            font-style: italic;
            max-width: 1050px;
        }
    }
}


@media(max-width:1050px){
    .section {
        display: block;
        background-color: $color-primary;
        padding: 90px 20px;
        .section-main {
            h3 {
                font-size: 55px;
                line-height: 58px;
                letter-spacing: -2.5px;
                margin-bottom: 30px !important;
            }
    
            p {
                font-size: 30px;
                line-height: 34px;
                letter-spacing: -1.6px;
            }
        }
    }
}



@media(max-width:700px){
    .section {
        display: block;
        background-color: $color-primary;
        padding: 35px 20px;
        .section-main {
            h3 {
                font-size: 32px;
                line-height: 32px;
                letter-spacing: -1.6px;
                margin-bottom: 20px !important;
            }
    
            p {
                font-size: 20px;
                line-height: 22px;
                letter-spacing: -0.8px;
                font-weight: 400;
            }
        }
    }
}
