.main{
    max-width: 500px;
    width: 100%;
    margin: auto;

    .floating {
        position: fixed;
        bottom: 10%;
        left: 50%;
        transform: translate(-50%);
        z-index: 10;

        box-sizing: border-box;
        width: 230px;
        height: 57px;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(22.5px);
        border-radius: 15px;
        border: 2px solid white;
        display: flex;
        align-items: center;
        
    }
}