<div class="section">
    <div class="project-area">
        <div class="project-video-area">
            <img src="./assets/images/temp/gif/project-bg.gif" alt="">
            <div class="project-title-area">
                <h3>bSmart</h3>
            </div>
        </div>
        <div class="project-area-main">
            <div class="project-area-left">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.
                </p>

                <ul>
                    <li><span>Client:</span> <p>Bkash</p>
                    </li>
                    <li><span>Type:</span> <p>Banner Generator AI</p>
                    </li>
                    <li><span>Others:</span> <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto, praesentium.</p>
                    </li>
                </ul>


            </div>
            <div class="project-area-right">
                  <img src="./assets/images/temp/gif/project1.gif" alt="">
            </div>
        </div>
    </div>

    <div class="project-area">
        <div class="project-video-area">
            <img src="./assets/images/temp/gif/project2-bg.gif" alt="">
            <div class="project-title-area">
                <h3>Schooling Next</h3>
            </div>
        </div>
        <div class="project-area-main">
            <div class="project-area-left">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.
                </p>

                <ul>
                    <li><span>Client:</span> <p>Bkash</p>
                    </li>
                    <li><span>Type:</span> <p>Banner Generator AI</p>
                    </li>
                    <li><span>Others:</span> <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto, praesentium.</p>
                    </li>
                </ul>


            </div>
            <div class="project-area-right">
                  <img src="./assets/images/temp/gif/project2.gif" alt="">
            </div>
        </div>
    </div>

    <div class="project-area">
        <div class="project-video-area">
            <img src="./assets/images/temp/gif/project3-bg.gif" alt="">
            <div class="project-title-area">
                <h3>Schooling Next</h3>
            </div>
        </div>
        <div class="project-area-main">
            <div class="project-area-left">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.
                </p>

                <ul>
                    <li><span>Client:</span> <p>Bkash</p>
                    </li>
                    <li><span>Type:</span> <p>Banner Generator AI</p>
                    </li>
                    <li><span>Others:</span> <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto, praesentium.</p>
                    </li>
                </ul>


            </div>
            <div class="project-area-right">
                  <img src="./assets/images/temp/gif/project4.gif" alt="">
            </div>
        </div>
    </div>


    <div class="project-area">
        <div class="project-video-area">
            <img src="./assets/images/temp/gif/project3-bg.gif" alt="">
            
            <div class="project-title-area">
                <h3>Schooling Next</h3>
            </div>
        </div>
        <div class="project-area-main">
            <div class="project-area-left">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.
                </p>

                <ul>
                    <li><span>Client:</span> <p>Bkash</p>
                    </li>
                    <li><span>Type:</span> <p>Banner Generator AI</p>
                    </li>
                    <li><span>Others:</span> <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto, praesentium.</p>
                    </li>
                </ul>


            </div>
            <div class="project-area-right">
                  <img src="./assets/images/temp/gif/project4.gif" alt="">
            </div>
        </div>
    </div>
</div>