<div class="section" id="warc">
  <div class="project-area" id="1">
    <div class="project-video-area">
      <video autoplay loop id="myVideo" width="640" height="360">
        <source src="../../../assets/videos/bsmart02.mp4" type="video/mp4">

      </video>
      <div class="project-title-area">
        <h3>bSmart</h3>
      </div>
    </div>
    <div class="project-area-main">
      <div class="project-area-left">
        <p>
          In early 2023 We got a call from Bkash with a unique proposition, on
          how we can assess small businesses on their marketing. Creating an AI
          solution where people can make amazing banners and sales posts for
          their socials by just tapping some buttons.
        </p>

        <ul>
          <li>
            <span>Client:</span>
            <p>Bkash</p>
          </li>


        </ul>
      </div>
      <div class="project-area-right">
        <img src="../../../assets/images/bsmart_03.png" alt="" />
      </div>
    </div>
  </div>

  <div class="project-area" id="2">
    <div class="project-video-area">
      <video id="myVideo" autoplay loop>
        <source src="../../../assets/videos/Super Squad_WR.mp4" type="video/mp4">

      </video>
      <div class="project-title-area">
        <h3>Super Squad</h3>
      </div>
    </div>
    <div class="project-area-main">
      <div class="project-area-left">
        <p>
          A portal for enjoying as competing with other players and squads
        </p>

        <ul>
          <li>
            <span>Client:</span>
            <p>In House</p>
          </li>

        </ul>
      </div>
      <div class="project-area-right">
        <img src="../../../assets/images/Super Squad_02.png" alt="" />
      </div>
    </div>
  </div>

  <div class="project-area" id="3">
    <div class="project-video-area">
      <video autoplay loop id="myVideo" width="640" height="360">
        <source src="../../../assets/videos/ECC_02.mp4" type="video/mp4">

      </video>
      <div class="project-title-area">
        <h3>ECC</h3>
      </div>
    </div>
    <div class="project-area-main">
      <div class="project-area-left">
        <p>
          A QR related virtual convention on the best architectural firms showcasing their best project yet. Being QR
          enabled so anyone can take a tour in the convention.
        </p>

        <ul>
          <li>
            <span>Client:</span>
            <p>Architecture Firms</p>
          </li>

        </ul>
      </div>
      <div class="project-area-right">
        <img src="../../../assets/images/ECC_01.png" alt="" />
      </div>
    </div>
  </div>

  <div class="project-area" id="4">
    <div class="project-video-area">
      <video autoplay loop id="myVideo" width="640" height="360">
        <source src="../../../assets/videos/yellowsomething_02.mp4" type="video/mp4">

      </video>

      <div class="project-title-area">
        <h3>Studio Yellow Something</h3>
      </div>
    </div>
    <div class="project-area-main">
      <div class="project-area-left">
        <p>
          An indie production studio with capabilities to go toe to toe with the industry giants. Working with some
          genuine talents was a blast!

        </p>

        <ul>
          <li>
            <span>Client:</span>
            <p>Studio Yellow Something</p>
          </li>

        </ul>
      </div>
      <div class="project-area-right">
        <img src="../../../assets/images/Yellowsomething_01.png" alt="" />
      </div>
    </div>
  </div>




  <div class="project-area" id="5">
    <div class="project-video-area">
      <video id="myVideo" width="640" height="360" autoplay loop>
        <source src="../../../assets/videos/Form.3_02.mp4" type="video/mp4">

      </video>
      <div class="project-title-area">
        <h3>Form.3</h3>
      </div>
    </div>
    <div class="project-area-main">
      <div class="project-area-left">
        <p>
          Contemporary architecture at its finest, with a near unlimited range. Here to take another step to solidifying
          their presence in the architecture space!

        </p>

        <ul>
          <li>
            <span>Client:</span>
            <p>Form.3</p>
          </li>


        </ul>
      </div>
      <div class="project-area-right">
        <img src="../../../assets/images/form3.png" alt="" />
      </div>
    </div>
  </div>

  <div class="project-area" id="6">
    <div class="project-video-area">
      <video id="myVideo" width="640" height="360" autoplay loop>
        <source src="../../../assets/videos/life in ramadan_01.mp4" type="video/mp4">

      </video>
      <div class="project-title-area">
        <h3>Life in Ramadan</h3>
      </div>
    </div>
    <div class="project-area-main">
      <div class="project-area-left">
        <p>
          A portal for every Bkash user, to find everything related to Ramadan, from Quran sharif, prayer time tables,
          to Iftar times all integrated in the Bkash app.

        </p>

        <ul>
          <li>
            <span>Client:</span>
            <p>Bkash</p>
          </li>


        </ul>
      </div>
      <div class="project-area-right">
        <img src="../../../assets/images/Life in Ramadan_02.png" alt="" />
      </div>
    </div>
  </div>



  <div class="project-area" id="7">
    <div class="project-video-area">
      <video id="myVideo" width="640" height="360" autoplay loop>
        <source src="../../../assets/videos/Vistanext_01.mp4" type="video/mp4">

      </video>
      <div class="project-title-area">
        <h3>VistaNext</h3>
      </div>
    </div>
    <div class="project-area-main">
      <div class="project-area-left">
        <p>
          We Are Where You Want to Live. Following that motto we provide the best and customized design according to
          your preference.
        </p>

        <ul>
          <li>
            <span>Client:</span>
            <p>VistaNext</p>
          </li>


        </ul>
      </div>
      <div class="project-area-right">
        <img src="../../../assets/images/Vistanext_02.png" alt="" />
      </div>
    </div>
  </div>


  <div class="project-area" id="8">
    <div class="project-video-area">
      <video id="myVideo" width="640" height="360" autoplay loop>
        <source src="../../../assets/videos/Pranicool_01.mp4" type="video/mp4">

      </video>
      <div class="project-title-area">
        <h3>Pranicool</h3>
      </div>
    </div>
    <div class="project-area-main">
      <div class="project-area-left">
        <p>
          Fulfilling all your pet needs in oneplace.
        </p>

        <ul>
          <li>
            <span>Client:</span>
            <p>Pranicool</p>
          </li>


        </ul>
      </div>
      <div class="project-area-right">
        <img src="../../../assets/images/Pranicool_02.png" alt="" />
      </div>
    </div>
  </div>


  <div class="project-area" id="9">
    <div class="project-video-area">
      <img src="../../../assets/images/QR Coupon_02.png" alt="">
      <div class="project-title-area">
        <h3>QRcoupon</h3>
      </div>
    </div>
    <div class="project-area-main">
      <div class="project-area-left">
        <p>
          A QR based coupon system.
        </p>

        <ul>
          <li>
            <span>Client:</span>
            <p>Bkash</p>
          </li>


        </ul>
      </div>
      <div class="project-area-right">
        <img src="../../../assets/images/QR Coupon_02.png" alt="" />
      </div>
    </div>
  </div>


  <div class="project-area" id="10">
    <div class="project-video-area">
      <video id="myVideo" width="640" height="360" autoplay loop>
        <source src="../../../assets/videos/SJWS_01.mp4" type="video/mp4">

      </video>
      <div class="project-title-area">
        <h3>Sir John Wilson</h3>
      </div>
    </div>
    <div class="project-area-main">
      <div class="project-area-left">
        <p>
          Making the experience of Learning fun exciting and Efficient in One Place.
        </p>

        <ul>
          <li>
            <span>Client:</span>
            <p>Sir John Wilson</p>
          </li>


        </ul>
      </div>
      <div class="project-area-right">
        <img src="../../../assets/images/SJWS_02.png" alt="" />
      </div>
    </div>
  </div>


</div>


<div class="floating">
  <div class="btn-1" (click)="toggleDrawer()">
    <img [src]="drawerOpen ? './assets/svgs/cross.svg' :'./assets/svgs/menu.svg'" width="15px" height="15px" alt="">
  </div>
  <div class="btn-2">
    <a href="https://wa.me/+8801944400016" target="_blank" style="color:#fff">Let's talk</a>
  </div>
</div>

<div [ngClass]="{'drawer': true, 'drawer-show': drawerOpen}">
  <div (click)="onScrollControll('team')" routerLink="/home">Studio</div>
  <div (click)="onScrollControll('service')" routerLink="/home">Services</div>
  <div (click)="onScrollControll('warc')">Our Warcs</div>
  <div (click)="onScrollControll('contact')" routerLink="/home">Contact</div>
</div>

<div class="overlay" *ngIf="drawerOpen" (click)="toggleDrawer()"></div>