<div class="section" id="service">
     <div class="container">
          <div class="section-title">
               <h3>Our Services</h3>
          </div>
          <div class="section-main">
               <ul>
                    <li (click)="onShowTeam(1)" [ngClass]="{'active': isTeam === 1}">
                         <div class="service-left">
                              <div class="service-img">
                                   <img src="./assets/images/temp/png/img1.png" alt="">
                              </div>
                         </div>
                         <div class="service-right">
                              <div class="service-right-top">
                                   <div>
                                        <h3>Web Development</h3>
                                   </div>
                                   <div>
                                        <span><i class="fa fa-arrow-right"></i></span>
                                   </div>
                              </div>
                              <div class="service-right-des">
                                   <p>We prioritize the design, what are the needs of our client, and most importantly how we can capture the vision of our clients and put that vision on the screen.</p>
                              </div>
                         </div>
                    </li>

                    <li (click)="onShowTeam(2)" [ngClass]="{'active': isTeam === 2}">
                         <div class="service-left">
                              <div class="service-img">
                                   <img src="./assets/images/temp/png/img4.png" alt="">
                              </div>
                         </div>
                         <div class="service-right">
                              <div class="service-right-top">
                                   <div>
                                        <h3>Ui/Ux</h3>
                                   </div>
                                   <div>
                                        <span><i class="fa fa-arrow-right"></i></span>
                                   </div>
                              </div>
                              <div class="service-right-des">
                                   <p>For some people User interface and User Experience is an afterthought, however in our case  it is the most fundamental and important process of any project.</p>
                              </div>
                         </div>
                    </li>

                    <li (click)="onShowTeam(3)" [ngClass]="{'active': isTeam === 3}">
                         <div class="service-left">
                              <div class="service-img">
                                   <img src="./assets/images/temp/png/img3.png" alt="">
                              </div>
                         </div>
                         <div class="service-right">
                              <div class="service-right-top">
                                   <div>
                                        <h3>ERP</h3>
                                   </div>
                                   <div>
                                        <span><i class="fa fa-arrow-right"></i></span>
                                   </div>
                              </div>
                              <div class="service-right-des">
                                   <p>ERP (Enterprise Resource Planning) centralizes business processes, data, and functions within a comprehensive software suite. It facilitates seamless communication, enhances efficiency, and enables informed decision-making across an organization.</p>
                              </div>
                         </div>
                    </li>


                    <li (click)="onShowTeam(4)" [ngClass]="{'active': isTeam === 4}">
                         <div class="service-left">
                              <div class="service-img">
                                   <img src="./assets/images/temp/png/img3.png" alt="">
                              </div>
                         </div>
                         <div class="service-right">
                              <div class="service-right-top">
                                   <div>
                                        <h3>SAAS</h3>
                                   </div>
                                   <div>
                                        <span><i class="fa fa-arrow-right"></i></span>
                                   </div>
                              </div>
                              <div class="service-right-des">
                                   <p>SaaS, or Software as a Service, is a cloud-based model where software applications are delivered via the internet, offering accessibility, cost-effectiveness, and streamlined updates and maintenance for users.</p>
                              </div>
                         </div>
                    </li>


                    <li (click)="onShowTeam(5)" [ngClass]="{'active': isTeam === 5}">
                         <div class="service-left">
                              <div class="service-img">
                                   <img src="./assets/images/temp/png/img3.png" alt="">
                              </div>
                         </div>
                         <div class="service-right">
                              <div class="service-right-top">
                                   <div>
                                        <h3>AR/VR</h3>
                                   </div>
                                   <div>
                                        <span><i class="fa fa-arrow-right"></i></span>
                                   </div>
                              </div>
                              <div class="service-right-des">
                                   <p>AR (Augmented Reality) and VR (Virtual Reality) technologies immerse users in interactive, simulated environments, blending digital elements with the real world or creating entirely immersive experiences.
                                   </p>
                              </div>
                         </div>
                    </li>


                    <li (click)="onShowTeam(6)" [ngClass]="{'active': isTeam === 6}">
                         <div class="service-left">
                              <div class="service-img">
                                   <img src="./assets/images/temp/png/img3.png" alt="">
                              </div>
                         </div>
                         <div class="service-right">
                              <div class="service-right-top">
                                   <div>
                                        <h3>Robotics & Hardware</h3>
                                   </div>
                                   <div>
                                        <span><i class="fa fa-arrow-right"></i></span>
                                   </div>
                              </div>
                              <div class="service-right-des">
                                   <p>Automate your life with industry standard robotics and hardware solutions
                                   </p>
                              </div>
                         </div>
                    </li>


                    <li (click)="onShowTeam(7)" [ngClass]="{'active': isTeam === 7}">
                         <div class="service-left">
                              <div class="service-img">
                                   <img src="./assets/images/temp/png/img2.png" alt="">
                              </div>
                         </div>
                         <div class="service-right">
                              <div class="service-right-top">
                                   <div>
                                        <h3>App Development</h3>
                                   </div>
                                   <div>
                                        <span><i class="fa fa-arrow-right"></i></span>
                                   </div>
                              </div>
                              <div class="service-right-des">
                                   <p>Our tech firm offers expert app development, crafting innovative software solutions for seamless user experiences across diverse platforms.
                                   </p>
                              </div>
                         </div>
                    </li>


               </ul>
          </div>
     </div>
</div>