<div class="section">
     <div class="container">
          <div class="section-title">
               <h3>Our Services</h3>
          </div>
          <div class="section-main">
               <ul>
                    <li (click)="onShowTeam(1)" [ngClass]="{'active': isTeam === 1}">
                         <div class="service-left">
                              <div class="service-img">
                                   <img src="./assets/images/temp/png/img1.png" alt="">
                              </div>
                         </div>
                         <div class="service-right">
                              <div class="service-right-top">
                                   <div>
                                        <h3>Web Development</h3>
                                   </div>
                                   <div>
                                        <span><i class="fa fa-arrow-right"></i></span>
                                   </div>
                              </div>
                              <div class="service-right-des">
                                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua.</p>
                              </div>
                         </div>
                    </li>

                    <li (click)="onShowTeam(2)" [ngClass]="{'active': isTeam === 2}">
                         <div class="service-left">
                              <div class="service-img">
                                   <img src="./assets/images/temp/png/img4.png" alt="">
                              </div>
                         </div>
                         <div class="service-right">
                              <div class="service-right-top">
                                   <div>
                                        <h3>Ui/Ux</h3>
                                   </div>
                                   <div>
                                        <span><i class="fa fa-arrow-right"></i></span>
                                   </div>
                              </div>
                              <div class="service-right-des">
                                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua.</p>
                              </div>
                         </div>
                    </li>

                    <li (click)="onShowTeam(3)" [ngClass]="{'active': isTeam === 3}">
                         <div class="service-left">
                              <div class="service-img">
                                   <img src="./assets/images/temp/png/img3.png" alt="">
                              </div>
                         </div>
                         <div class="service-right">
                              <div class="service-right-top">
                                   <div>
                                        <h3>ERP</h3>
                                   </div>
                                   <div>
                                        <span><i class="fa fa-arrow-right"></i></span>
                                   </div>
                              </div>
                              <div class="service-right-des">
                                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua.</p>
                              </div>
                         </div>
                    </li>


                    <li (click)="onShowTeam(4)" [ngClass]="{'active': isTeam === 4}">
                         <div class="service-left">
                              <div class="service-img">
                                   <img src="./assets/images/temp/png/img3.png" alt="">
                              </div>
                         </div>
                         <div class="service-right">
                              <div class="service-right-top">
                                   <div>
                                        <h3>SAAS</h3>
                                   </div>
                                   <div>
                                        <span><i class="fa fa-arrow-right"></i></span>
                                   </div>
                              </div>
                              <div class="service-right-des">
                                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua.</p>
                              </div>
                         </div>
                    </li>


                    <li (click)="onShowTeam(5)" [ngClass]="{'active': isTeam === 5}">
                         <div class="service-left">
                              <div class="service-img">
                                   <img src="./assets/images/temp/png/img3.png" alt="">
                              </div>
                         </div>
                         <div class="service-right">
                              <div class="service-right-top">
                                   <div>
                                        <h3>AR/VR</h3>
                                   </div>
                                   <div>
                                        <span><i class="fa fa-arrow-right"></i></span>
                                   </div>
                              </div>
                              <div class="service-right-des">
                                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua.</p>
                              </div>
                         </div>
                    </li>


                    <li (click)="onShowTeam(6)" [ngClass]="{'active': isTeam === 6}">
                         <div class="service-left">
                              <div class="service-img">
                                   <img src="./assets/images/temp/png/img3.png" alt="">
                              </div>
                         </div>
                         <div class="service-right">
                              <div class="service-right-top">
                                   <div>
                                        <h3>Robotics & Hardware</h3>
                                   </div>
                                   <div>
                                        <span><i class="fa fa-arrow-right"></i></span>
                                   </div>
                              </div>
                              <div class="service-right-des">
                                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua.</p>
                              </div>
                         </div>
                    </li>


                    <li (click)="onShowTeam(7)" [ngClass]="{'active': isTeam === 7}">
                         <div class="service-left">
                              <div class="service-img">
                                   <img src="./assets/images/temp/png/img2.png" alt="">
                              </div>
                         </div>
                         <div class="service-right">
                              <div class="service-right-top">
                                   <div>
                                        <h3>App Development</h3>
                                   </div>
                                   <div>
                                        <span><i class="fa fa-arrow-right"></i></span>
                                   </div>
                              </div>
                              <div class="service-right-des">
                                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua.</p>
                              </div>
                         </div>
                    </li>


               </ul>
          </div>
     </div>
</div>